@media only screen and (min-width: 400px) {
  body {
    .calculator {
      width: 85%;
    }
  }
}

@media only screen and (min-width: 500px) {
  body {
    .calculator {
      width: 63%;
    }
  }
}

@media only screen and (min-width: 700px) {
  body {
    .calculator {
      width: 70%;

      &-content {
        &-header {
          &-name {
            h1 {
              font-size: 3rem;
            }
          }

          &-theme {
            p {
              font-size: 1.5rem;
              padding-top: 20px;
            }

            .toggle {
              padding-left: 25px;
            }
          }
        }

        &-text-body {
          height: 150px;
          margin: 40px 0 30px 0;

          .text-body {
            padding: 55px 30px 0 0;
          }
        }

        &-main-body {
          padding: 50px;

          .main-btn {
            padding-bottom: 20px;

            button {
              height: 85px;
              width: 90px;
              font-size: 3rem;
            }

            .del {
              font-size: 1.8rem;
            }
          }

          .last-main-btn {
            button {
              height: 85px;
              width: 207px;
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  body {
    .calculator {
      width: 450px;

      &-content {
        &-header {
          &-name {
            h1 {
              font-size: 2.5rem;
            }
          }

          &-theme {
            p {
              font-size: 1rem;
            }
          }
        }

        &-text-body {
          height: 120px;
          margin: 30px 0 20px 0;
        }

        &-main-body {
          padding: 30px;

          .main-btn {
            padding-bottom: 20px;

            button {
              height: 70px;
              width: 80px;
              font-size: 2.5rem;
            }

            .del {
              font-size: 1.5rem;
            }
          }

          .last-main-btn {
            button {
              height: 70px;
              width: 183px;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
